@font-face {
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype') ;
}

@font-face {
  font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype') ;
}
